$color-text: #1e1e1e;
$color-icons: #787878;
$color-primary: #eb3e7d;
$color-secondary: #dfa44c;
$text-muted: #aaa;
$background-gray: #f7f7f7;

// overwrite standard bootstrap variables
$input-btn-padding-x: 0;
