$color-text: #1e1e1e;
$color-icons: #787878;
$color-primary: #eb3e7d;
$color-secondary: #dfa44c;
$text-muted: #aaa;
$background-gray: #f7f7f7;
$color-separator: #F0F0F0;

:root{
  --pol-a: 15px;
  --pol-b: calc(100% - var(--pol-a));
  @media (max-width: 640px) {
    --pol-a: 10px;
    --pol-b: calc(100% - var(--pol-a));
  }
}

$clip-path: polygon(var(--pol-a) 0%,  var(--pol-b) 0%, 100% var(--pol-a), 100%  var(--pol-b),  var(--pol-b) 100%, var(--pol-a) 100%, 0%  var(--pol-b), 0% var(--pol-a));

// overwrite standard bootstrap variables
$input-btn-padding-x: 0;

// breakpoints
$screen-xs-max: 576px;
$screen-sm-max: 768px;
$screen-md-max: 992px;
$screen-lg-max: 1200px;