.icon {
  &__content {
    font-size: 25px;
    transition: .2s;

    &--bag {
      &:before {
        vertical-align: 0;
      }
    }

    &--user {
      font-size: 28px;

      &:before {
        vertical-align: 0;
      }
    }

    &--active {
      color: $color-secondary;
    }
  }

  &__input {
    font-size: 16px;
    color: $text-muted;
  }

  &__count {
    padding-left: 5px;
  }

  &__link {
    color: $color-text;
    margin-left: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: .2s;

    .icon__content {
      color: $color-icons;
    }

    &--active {
      .icon__content {
        color: $color-secondary;
      }
    }

    &:hover, &:focus {
      color: $color-secondary;

      .icon__content {
        color: $color-secondary;
      }
    }
  }

  &--cursor {
    cursor: pointer;
  }
}