.input{
  &__search{
    border: 0;
    border-bottom: 1px solid #ebebeb;
    border-radius: 0;

    &:hover, &:focus, &.active{
      box-shadow: none;
      border-color: $color-secondary;
    }
  }
}